.register-container {
  background-color: #254370;
  max-width: 800px;
  margin: 50px auto;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-logo {
  width: 300px;
  margin-bottom: 2.5rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form-row {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.2rem;
  align-items: center;
}

.register-input,
.register-select {
  flex: 1;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1rem;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

.register-input::placeholder {
  font-family: 'Inter', sans-serif;
  color: #e0e0e0;
  opacity: 1;
}

.register-select {
  flex: 1;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1rem;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  appearance: none; /* Remove o estilo padrão do navegador */
  -webkit-appearance: none; /* Remove o estilo padrão no Safari */
  -moz-appearance: none; /* Remove o estilo padrão no Firefox */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}

.register-input:focus,
.register-select:focus {
  outline: none; /* Remove o contorno padrão */
  border-color: #d9d9d9; /* Altera a cor da borda ao focar */
}

.register-select option {
  background-color: #254370;
}

.register-button {
  width: 75%;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: white;
  color: #1f3c74;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.register-button:hover {
  background-color: #f0f0f0;
}

.register-login-link {
  margin-top: 0.5rem;
  color: white;
  font-size: 1rem;
}

.register-login-link a {
  color: white;
  text-decoration: underline;
}